<div ng-show="admin.adminAccess">
	<h3>Accounts</h3>
	<div class="col-sm-3 green" style="background-color: #A7BDC4">Username</div>
	<div class="col-sm-3" style="background-color: #A7BDC4">Password</div>
	<div class="col-sm-3" style="background-color: #A7BDC4">Name</div>
	<div class="col-sm-3" style="background-color: #A7BDC4">Email</div>
	<div ng-repeat="account in admin.accounts">
		<div class="col-sm-3" style="background-color: #CAE1E8">{{account.username}}</div>
		<div class="col-sm-3" style="background-color: #CAE1E8">{{account.password}}</div>
		<div class="col-sm-3" style="background-color: #CAE1E8">{{account.name}}</div>
		<div class="col-sm-3" style="background-color: #CAE1E8">{{account.email}}</div>
	</div>
</div>