<div class="jumbotron">
  <h1>'Allo Wreigh!'</h1>
  <p class="lead">
    <img src="images/wreigh.jpg" alt="I'm Yeoman"><br><br>
    <form name = "loginForm" ng-submit = "Main.login()" class = "lead" novalidate>
    	<input ng-model = "Main.account.username" type = "text" placeholder="Username" name = "uname" required><br><br>
    	<input ng-model = "Main.account.pass" type = "password" placeholder="Password" name = "pass" required><br><br>
    	<input type = "submit" class="w3-btn btn-lg btn-success"></input>
    </form>
  </p>
</div>
