<div class="jumbotron">
	<h3>Register</h3>
	<form name="registerForm" ng-submit="accounts.addAccount()" novalidate>
	<input type="text" placeholder="Username" ng-model="accounts.account.username" required/><br>
	<input type="password" placeholder="password" ng-model="accounts.account.password" required/><br>
	<input type="text" placeholder="Name" ng-model="accounts.account.name" required/><br>
	<input type="email" placeholder="Email" ng-model="accounts.account.email" required/><br>
	<input type="submit" value="Register"/>
	</form>
</div>
<div ng-show="accounts.adminAccess">
</div>